.main{
    background-color: #cac7c7;
    border: 1px solid black;
    border-radius: 3px;
    width: 68px;
}

.items{
    opacity: 0.8;
    background-color: #dde3dc;
    border-bottom: 1px solid black ;
    width: 70px;
}
.items:hover{
    cursor: pointer;
    background-color: rgba(35, 132, 241, 0.76);
}
.main:hover{
    cursor: pointer;
}